/* Use of !important to override built in Swiffy Slider styling */

/* Mobile styling */
@media (max-width: 768px) {
    .swiffy-slider {
        --swiffy-slider-item-count:2 !important;
    }
    .slider-nav {
        display: none !important;
    }
    .slider-indicators>* {
        box-sizing: border-box !important;
        width: 12px !important;
        height: 12px !important;
        border: 1px solid #A2B9C2 !important;
    }
    .slider-indicators>.active {
        background-color: #A2B9C2 !important;
    }

    .indicator-circle {
        margin-right: 5px;
        margin-left: 5px;
    }
}

/* Desktop Styling */
@media (min-width:768px) {
    .swiffy-slider {
        --swiffy-slider-item-count:5 !important;
    }
    .slider-nav {
        visibility: visible !important;
    }
    .slider-nav::after {
        background-color:#A1D9D3 !important;
    }
    .slider-container {
        margin-right:5%;
        margin-left:5%;
    }
    .slider-nav{
        margin-top:2%;
        margin-left:3%;
        margin-right:3%;

    }
}